<div class="box">
  <%= render :partial => "players/player_stat_bar", :object => @user %>

  <p>
    <b>Login:</b>
    <%=h @user.login %>
  </p>
  
  <p>
    <b>Last Login at:</b>
    <%=h @user.last_login_at %>
  </p>

  <p>
    <b>Last Login IP:</b>
    <%=h @user.last_login_ip %>
  </p>

  <p>
    <b>Current Login IP:</b>
    <%=h @user.current_login_ip %>
  </p>

  <p>
    <b>Player:</b>

  </p>

  <%= link_to 'edit', edit_account_path %><br />
</div>
