<div class="box">
  <table>
    <tr>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Player 1 HP</th>
      <th>Player 2 HP</th>
      <th>Round Num</th>
      <th>Winner</th>
      <th>Play</th>
    </tr>
    <% @games.each do |game| %>
    <tr>
      <td><%= Player.player_name_by_id(game.player1_id) %></td>
      <td><%= Player.player_name_by_id(game.player2_id) %></td>
      <td><%= game.player1_hp %></td>
      <td><%= game.player2_hp %></td>
      <td><%= game.round_num %></td>
      <td><%= Player.player_name_by_id(game.winner) %></td>
      <td>
	<% if game.active %>
	 <%= link_to :action => "play", :id => game.id %>
	<% else %>
	 <b>Finished</b>
	<% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
